@import "../../App.less";
@import "./Panel/Item/index.less";
@naviWidth: 85px;
@naviActualWidth: calc(@naviWidth + @naviExtensionWidth);
@naviBackground: #3a3885;
.navi {
  top: 0;
  left: 0;
  padding-top: 10px;
  position: fixed;
  width: @naviActualWidth;
  height: 100%;
  background: @naviBackground;
  color: #fff;
  -webkit-app-region: drag;
  overflow: hidden scroll;
  scrollbar-width: none;

  &.play {
    padding-bottom: 75px;
  }

  &.no-drag {
    -webkit-app-region: unset;
  }
}

.navi::-webkit-scrollbar {
  display: none;
}

.control-navi-container {
  position: fixed;
  bottom: 0;
  width: @naviActualWidth;
}

.control-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  z-index: 0;
  //background: #fff;
  background: linear-gradient(transparent, @naviBackground);
}