@import '../../Components/Navi/index.less';

.control-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: @naviActualWidth;
}

.control-capsule {
  position: fixed;
  width: 58px;
  height: 58px;
  left: 17px;
  bottom: 12px;
  border-radius: 1000px;
  z-index: -1;
  opacity: 0;
  transition: width .2s, opacity .2s, border-radius .2s;
  -webkit-app-region: no-drag;
  color: #fff;
  background: #323232;
  will-change: width, height, opacity, border-radius, left, bottom;
  transform: translateZ(0);
  
  &.expanded {
    left: 8px;
    bottom: 3px;
    width: 255px;
    height: 76px;
    opacity: 1;
    box-shadow: 3px 4px 6px rgba(50,50,50,0.6);
  }

  &.open {
    opacity: 1;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 64px;
    border-radius: 0;
    box-shadow: none;
  }
}

.control-spin {
  transform: scale(1.2) translateZ(0);
  margin-bottom: 10px;
  transition: transform .1s, opacity .2s;
  will-change: transform, opacity;

  &.expanded {
    transform: scale(1.6) translateZ(0);
  }
  &.hidden {
    transform: scale(2) translateZ(0);
    pointer-events: none;
    opacity: 0;
  }
}