@import '../../Components/Navi/index.less';
@capsuleBackground: #323232;
@playControlHeight: 64px;
.control-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: @naviActualWidth;
  z-index: 1000;
}

.control-capsule {
  position: fixed;
  width: 58px;
  height: 58px;
  left: 17px;
  bottom: 12px;
  border-radius: 1000px;
  z-index: -1;
  opacity: 0;
  transition: width .2s, opacity .2s, border-radius .2s;
  -webkit-app-region: no-drag;
  color: #fff;
  background: @capsuleBackground;
  will-change: width, height, opacity, border-radius, left, bottom;
  transform: translateZ(0);
  overflow: hidden;
  padding-top: 12px;

  &.expanded {
    left: 8px;
    bottom: 3px;
    width: 210px;
    height: 76px;
    opacity: 1;
    overflow: hidden;
    box-shadow: 3px 4px 6px rgba(50,50,50,0.6);
  }

  &.open {
    opacity: 1;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: @playControlHeight;
    border-radius: 0;
    box-shadow: none;
    padding-top: 0;
    overflow: visible;
  }

  >.control-buttons {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding-left: 15px;
    padding-right: 10px;
    visibility: hidden;
    
    > * {
      transition: margin-right .1s;
    }
    .show-when-open {
      display: none;
    }
    button {
      color: #fff;
      text-align: center;
      background: none;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;

      &.pause {
        font-size: 32px;
      }
      &.ward {
        font-size: 24px;
      }
      &.pip {
        font-size: 24px;
      }
    }

    >.control-collpase {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 1000px;
      background: #fff;
      margin-left: 8px;
      margin-right: 25px;
      min-width: 32px;
      min-height: 32px;

      >.collpase {
        color: @capsuleBackground;
        font-size: 20px;
      }
    }
  }

  >.capsule-info {
    position: absolute;
    top: 8px;
    left: 73px;
    font-size: 11px;
    white-space: nowrap;
    pointer-events: none;

    .info-title {
      color: rgba(255, 255, 255, 0.9);
    }

    .info-channel {
      color: rgba(255, 255, 255, 0.5);

      &::before {
        content: ' - ';
      }
    }
  }

  &.expanded {
    .control-buttons {
      visibility: visible;
    }
  }

  &.open {
    .control-collpase {
      margin-right: 10px;
    }
    .capsule-info {
      display: none;
    }
    .show-when-open {
      display: inherit;
    }
    .control-buttons {
      visibility: visible;
    }
  }
}

.control-spin {
  transform: scale(1.2) translateZ(0);
  margin-bottom: 10px;
  transition: transform .1s, opacity .2s;
  will-change: transform, opacity;
  pointer-events: none;

  >.panel-item-wrapper {
    pointer-events: all;
  }
  &.expanded {
    transform: scale(1.6) translateZ(0);
  }
  &.hidden {
    transform: scale(2) translateZ(0);
    pointer-events: none;
    opacity: 0;
    >.panel-item-wrapper {
      pointer-events: none;
    }
  }
}