@import '../../App.less';
.subs-toolbar {
  position: sticky;
  top: -42px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 0 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: @containerBackground;
  z-index: 100;
}