.subs-toolbar {
  position: sticky;
  top: -39.25px;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 0 8px;
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background: rgba(249, 249, 250, 0.8);
  z-index: 100;
}