.new-subs-provider {
  color: #888;
  &::before {
    content: '|';
    margin: 0 5px;
  }
}

.new-subs-icon {
  display: inline-block;
  background-size: 100%;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  transform: translateY(3px);
}

.new-subs-form {
  >.new-subs-form-loading {
    margin-top: 30px;
    text-align: center;
  }
}