@import "../App.less";
@naviWidth: 85px;
@naviLeftRightPadding: 5px;
@naviTopBottomPadding: 5px;
.navi {
  top: @naviTopBottomPadding;
  left: @naviLeftRightPadding;
  padding-top: 10px;
  position: fixed;
  width: @naviWidth;
  height: calc(100% - @naviTopBottomPadding * 2);
  background: #232527;
  color: #fff;
  border-top-left-radius: @windowRadius;
  border-bottom-left-radius: @windowRadius;
  -webkit-app-region: drag;
}