@import "./Components/Navi";
@containerBackground: #f9f9fa;
@naviExtensionWidth: 6px; // To make radius work
@containerRadius: 6px;
.app-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-wrapper-borderless {
    margin: 0;
}

.container {
    position: absolute;
    margin-left: @naviWidth;
    width: calc(100% - @naviWidth);
    height: 100%;
    background-color: @containerBackground;
    padding-left: @containerRadius;
    border-top-left-radius: @containerRadius;
    border-bottom-left-radius: @containerRadius;
}


body {
    background-color: @containerBackground; /* App border */
}