@import "./Navi";
@containerBackground: #eee;
@windowRadius: 6px;
.app-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: @windowRadius;
}

.container {
    margin-left: @naviWidth;
    width: calc(100vw - @naviWidth);
    height: 100vh;
    background-color: @containerBackground;
}